.header {
    background-color: white;
    position: relative;
    padding: 10px 20px;

    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        justify-content: space-evenly;
        grid-gap: 20px;
        align-items: center;
    }
    .boton-menu {
        position: absolute;
        top: 10px;
        right: 20px;
        padding: 10px;
        background: #00509f;
        color: aqua;
        border-radius: 5px;
        border: none;
        @media screen and (min-width: 700px) {
            display: none;
        }
    }
    .branding {
        grid-column: 1 / span 1;
        align-content: center;

        .site-title {
            display: block;
            width: 60%;
            max-width: 400px;
            min-width: 180px;
            height: auto;
            border: none;
        }
        p {
            font-size: 0.8em;
            margin: 0;
            padding-left: 10%;
            display: none; //para mostrar la descripción descomentar esto
        }

    }
    .main-menu {
        display: none;
        grid-column: auto / span 2;
        font-size: 80%;

        ul {
            width: 100%;
            display: block;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li {
                a {
                    display: inline-block;
                    margin-bottom: 1em;
                    text-decoration: none;
                    color: #333;
                    //letter-spacing: -0.75px;
                    &.active {
                        border-color: orange;
                    }
                }
            }
        }

        @media screen and (min-width: 700px) {
            display: block;
            ul {
                display: inline-flex;
                justify-content: flex-end;
                li {
                    margin: 0 20px;
                    a {
                        padding: 0;
                        margin: 0;
                        border-width: 3px;
                    }
                }
            }
        }
    }
}
