.header {
    &.fixed {
        @media screen and (max-width: 700px) {
            position: fixed;
            width: calc(100vw - 40px);
        }
    }
    background-color: white;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    align-items: center;
    grid-gap: 10px;
    box-shadow: 0 1px 5px hsla(0,0,0,0.1);
    z-index: 99;

    @media screen and (min-width: 700px) {
        grid-template-columns: repeat(3, minmax(0,1fr));
        justify-content: space-evenly;
        grid-gap: 20px;
    }

    .branding {
        grid-column: 1 / span 2;
        align-content: center;

        @media screen and (min-width: 700px) {
            grid-column: 1 / span 1;
        }

        a.site-title {
            display: block;
            width: 80%;
            overflow: hidden;
            max-width: 200px;
            min-width: 160px;
            height: auto;
            border: none;
            padding: 10px 0 0;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
        p {
            font-size: 0.8em;
            margin: 0;
            padding-left: 10%;
            display: none; //para mostrar la descripción descomentar esto
        }

    }
    .responsive-navigation {
        grid-column: 4 / span 1;
        font-size: 80%;
        position: relative;
        width: 100%;
        height: 100%;

        @media screen and (min-width: 700px) {
            grid-column: auto / span 2;
            height: auto;
            display: table-cell;
            vertical-align: middle;
        }

        .boton-menu {
            color: #333;
            padding: 5px 10px;
            border: none;
            font-weight: 700;
            text-decoration: none;
            background-color: white;
            display: inline-block;
            border-radius: 5px;
            width: 100%;
            height: 100%;

            &.submenuToggled-on {
                background-color: silver;
                color: white;
                border-color: white;

            }

            @media screen and (min-width: 700px) {
                display: none;
            }
        }


        ul {
            position: absolute;
            top: calc(100% + 10px);
            right: -20px;
            width: 100vw;
            background-color: white;
            z-index: 999;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            display: none;
            font-size: 1.25em;
            
            li {
                
                a {
                    display: inline-block;
                    margin-bottom: 1em;
                    text-decoration: none;
                    color: #333;
                    
                    &.active {
                        @extend .border--orange;
                    }
                }
            }

            &.submenuToggled-on {
                display: block;
            }

        }

        @media screen and (min-width: 700px) {
            .submenu {
                width: 100%;
                text-align: right;
            }
            ul {
                position: relative;
                width: auto;
                display: inline-flex;
                justify-content: flex-end;
                font-size: 1em;
                padding: 0 40px;
                li {
                    margin: 0 20px;
                    display: inline-flex;
                    a {
                        padding: 0;
                        margin: 0;
                        border-width: 3px;
                    }
                }
            }
        }
    }
}

.submenuToggled-on {
    display: block;
}
