// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 18) * 1px;
	font-size: $sizeValue * 1.2rem;
}

body,
button,
input,
select,
textarea {
    font-family: 'Karla', sans-serif;
	color: #333;
	@include font-size(.9);
	line-height: 1.5;

	@media screen and (min-width: 700px) {
		@include font-size(1.125);
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: .75em;
	margin-bottom: .25em;
	font-family: 'Karla', sans-serif;
	clear: both;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}

p {
	margin-top: .5em;
	margin-bottom: 1em;
}

a {
    color: #333;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid cyan;

    &:hover, &:active {
        border-color: orange;
    }
}
