@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\000037}}
body,
button,
input,
select,
textarea {
  font-family: 'Karla', sans-serif;
  color: #333;
  font-size: 16.2px;
  font-size: 1.08rem;
  line-height: 1.5; }
  @media screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\000037}}
    body,
    button,
    input,
    select,
    textarea {
      font-size: 20.25px;
      font-size: 1.35rem; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000322}}
h1, h2, h3, h4, h5, h6 {
  margin-top: .75em;
  margin-bottom: .25em;
  font-family: 'Karla', sans-serif;
  clear: both;
  text-rendering: optimizeLegibility;
  line-height: 1.1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000331}}
h1 {
  font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000335}}
h2 {
  font-size: 1.8em; }

@media screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000341}}
  h1 {
    font-size: 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000345}}
  h2 {
    font-size: 2.6em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000350}}
h3 {
  font-size: 2.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000354}}
h4 {
  font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000358}}
h5 {
  font-size: 1.8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000362}}
h6 {
  font-size: 1.6em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000366}}
p {
  margin-top: .5em;
  margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000371}}
a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid cyan; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_type\.scss}line{font-family:\0000377}}
  a:hover, a:active {
    border-color: orange; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\000033}}
body {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\000038}}
.wrapper {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\000031}}
.header {
  background-color: white;
  position: relative;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  grid-gap: 10px; }
  @media screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\000031}}
    .header {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      justify-content: space-evenly;
      grid-gap: 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000317}}
  .header .branding {
    grid-column: 1 / span 2;
    align-content: center; }
    @media screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000317}}
      .header .branding {
        grid-column: 1 / span 1; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000325}}
    .header .branding a.site-title {
      display: block;
      width: 100%;
      max-width: 320px;
      min-width: 180px;
      height: auto;
      border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000332}}
      .header .branding a.site-title img {
        object-fit: cover;
        width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000337}}
    .header .branding p {
      font-size: 0.8em;
      margin: 0;
      padding-left: 10%;
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000345}}
  .header .responsive-navigation {
    grid-column: 4 / span 1;
    font-size: 80%;
    position: relative;
    width: 100%;
    height: 100%; }
    @media screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000345}}
      .header .responsive-navigation {
        grid-column: auto / span 2;
        height: auto;
        display: table-cell;
        vertical-align: middle; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000359}}
    .header .responsive-navigation .boton-menu {
      color: #333;
      padding: 5px 10px;
      border: none;
      font-weight: 700;
      text-decoration: none;
      background-color: white;
      display: inline-block;
      border-radius: 5px;
      width: 100%;
      height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000371}}
      .header .responsive-navigation .boton-menu.submenuToggled-on {
        background-color: silver;
        color: white;
        border-color: white; }
      @media screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000359}}
        .header .responsive-navigation .boton-menu {
          display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000384}}
    .header .responsive-navigation ul {
      position: absolute;
      top: calc(100% + 10px);
      right: -20px;
      width: 100vw;
      background-color: white;
      z-index: 999;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      display: none;
      font-size: 1.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\0000399}}
      .header .responsive-navigation ul li a {
        display: inline-block;
        margin-bottom: 1em;
        text-decoration: none;
        color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\00003104}}
        .header .responsive-navigation ul li a.active {
          border-color: orange; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\00003110}}
      .header .responsive-navigation ul.submenuToggled-on {
        display: block; }
    @media screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\00003117}}
      .header .responsive-navigation .submenu {
        width: 100%;
        text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\00003121}}
      .header .responsive-navigation ul {
        position: relative;
        width: auto;
        display: inline-flex;
        justify-content: flex-end;
        font-size: 1em;
        padding: 0 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\00003128}}
        .header .responsive-navigation ul li {
          margin: 0 20px;
          display: inline-flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\00003131}}
          .header .responsive-navigation ul li a {
            padding: 0;
            margin: 0;
            border-width: 3px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/sass\/_header\.scss}line{font-family:\00003142}}
.submenuToggled-on {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000320}}
.content {
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000323}}
  .content.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000328}}
    .content.projects .item {
      grid-column: 1 / -1;
      overflow: hidden;
      /* NEW */
      min-width: 0;
      /* NEW; needed for Firefox */
      height: auto;
      position: relative; }
      @media screen and (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000328}}
        .content.projects .item {
          grid-column: auto / span 1; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000338}}
      .content.projects .item img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000344}}
      .content.projects .item .info-proyecto {
        z-index: 2;
        position: absolute;
        left: 5%;
        bottom: 20px;
        width: 90%;
        margin: 0;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000352}}
        .content.projects .item .info-proyecto h3 {
          font-size: 32px;
          color: white;
          font-weight: 700;
          text-shadow: -3px 3px 0 #333;
          background: rgba(0, 0, 0, 0.5);
          padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000361}}
        .content.projects .item .info-proyecto p.desc {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000365}}
        .content.projects .item .info-proyecto a {
          color: #333;
          padding: 5px 10px;
          border: 3px solid #333;
          font-weight: 700;
          text-decoration: none;
          background-color: white;
          display: inline-block;
          border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000374}}
          .content.projects .item .info-proyecto a:hover {
            box-shadow: -10px 10px 0 #333;
            background-color: #333;
            color: white;
            border-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000386}}
      .content.projects .item .fuente {
        font-size: 10px;
        background: #333;
        padding: 2px;
        color: white;
        position: absolute;
        bottom: 10px;
        right: 0;
        font-family: sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\0000399}}
  .content .migajas {
    font-size: .7em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003102}}
  .content .pagina {
    margin: 0 auto;
    max-width: 780px;
    padding: 40px 20px 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003107}}
    .content .pagina *::-moz-selection {
      background: orange; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003108}}
    .content .pagina *::selection {
      background: orange; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003110}}
    .content .pagina hr {
      margin: 60px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003114}}
    .content .pagina .top {
      width: 100%;
      max-height: 320px;
      overflow: hidden;
      position: relative;
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003120}}
      .content .pagina .top img {
        object-fit: cover;
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003125}}
    .content .pagina .caption {
      font-size: 60%;
      color: siver; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003129}}
    .content .pagina h3.gente {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003131}}
      .content .pagina h3.gente:before {
        content: "";
        width: 80px;
        height: 80px;
        background: url(img/gente.svg) no-repeat center center;
        display: block;
        margin: 0 auto;
        background-size: contain; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003142}}
    .content .pagina .lista {
      margin: 40px 0; }
      @media screen and (min-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003142}}
        .content .pagina .lista {
          display: grid;
          grid-template-columns: repeat(8, minmax(0, 1fr));
          justify-content: space-evenly;
          align-items: flex-start;
          grid-gap: 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003154}}
      .content .pagina .lista .persona {
        grid-column: auto /span 4;
        margin-bottom: 20px;
        font-size: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003160}}
      .content .pagina .lista .pic {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        background: url(img/gente/default-user-image.png) center center no-repeat silver;
        background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003169}}
        .content .pagina .lista .pic img {
          width: 100%;
          object-fit: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003174}}
      .content .pagina .lista .info-personal {
        grid-column: auto / span 7;
        line-height: 1.4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003177}}
        .content .pagina .lista .info-personal h4 {
          margin-top: 0.25em;
          font-size: 1.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003181}}
        .content .pagina .lista .info-personal p {
          margin-bottom: 0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003195}}
.iconos {
  width: 100vw;
  height: auto;
  background: url(img/iconos-noticias.jpg) repeat fixed; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003200}}
  .iconos h1 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    margin: 80px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003212}}
.footer {
  font-size: 80%;
  padding: 40px 20px;
  text-align: center;
  border-top: 1px solid silver; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003218}}
  .footer .licencia {
    margin-top: 40px;
    font-size: 80%;
    color: silver; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/red2019\/grid\.scss}line{font-family:\00003222}}
    .footer .licencia a {
      border-width: 0;
      color: currentColor; }

/*# sourceMappingURL=grid.css.map */
