@import 'sass/type';
@import 'sass/colors';

body {
    //background-color: tomato;
    margin: 0;
}

.wrapper {
    width: 100vw;
    margin: 0 auto;
    @media screen and (min-width: 700px) {
        // display: grid;
        // grid-template-rows: auto auto 200px;
    }

}

@import 'sass/header';

.content {
    width: 100%;

    .migajas {
        font-size: .7em;
    }
    .pagina {
        margin: 0 auto;
        max-width: 780px;
        padding: 40px 20px 80px;

        *::-moz-selection { background: orange; }
        *::selection { background: orange; }

        hr {
            margin: 60px 0;
        }

        .top {
            width: auto;
            max-height: 320px;
            overflow: hidden;
            position: relative;
            margin: 0;

            @media screen and (min-width: 960px) {
                margin-left: -80px;
                margin-right: -80px;

            }

            img {
                object-fit: cover;
                width: 100%;
            }
        }
        .caption {
            font-size: 60%;
            color: siver;
        }
        h3.gente {
            text-align: center;
            &:before {
                content: "";
                width: 80px;
                height: 80px;
                background: url(img/gente.svg) no-repeat center center;
                display: block;
                margin: 0 auto;
                background-size: contain;
            }
        }

        .lista {
            margin: 40px 0;

            @media screen and (min-width: 500px) {
                display: grid;
                grid-template-columns: repeat(8, minmax(0,1fr));
                justify-content: space-evenly;
                align-items: flex-start;
                grid-gap: 20px;
            }


            .persona {
                grid-column: auto /span 4;
                margin-bottom: 20px;
                //border: 1px solid #333;
                font-size: 90%;
            }
            .pic {
                width: 128px;
                height: 128px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                background: url(img/gente/default-user-image.png) center center no-repeat silver;
                background-size: cover;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .info-personal {
                grid-column: auto / span 7;
                line-height: 1.4;
                h4 {
                    margin-top: 0.25em;
                    font-size: 1.25em;
                }
                p{
                    margin-bottom: 0.25em;
                }
            }
        }
    }
}
//galería de proyectos
.projects {
    @media screen and (max-width: 700px) {
        scroll-snap-points-y: repeat(90vw);
        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: scroll;
    }


    @media screen and (min-width: 700px) {
        scroll-snap-type: none;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-flow: dense;
        overflow: auto;
        max-width: 100vw;
    }

    .item {
        @extend .bg-blue;
        display: flex;
        align-items: flex-end;

        @media screen and (max-width: 700px) {
            border-right: 4px solid white;
            border-left: 4px solid white;
            padding: 0 1em;
            min-width: 89vw;
            height: 90vh;
            scroll-snap-align: center;
        }
        @media screen and (min-width: 700px) {
            grid-column: auto / span 1;
            height: 40vh;
            min-height: 300px;
            padding: 20px;
        }

        .info-proyecto {
            z-index: 2;
            width: 90%;
            margin: 0;
            //text-align: center;
            h3 {
                font-size: 1.5rem;
                color: white;
                font-weight: 700;
                text-shadow: -3px 3px 0 #333;
                //margin-bottom: 1em;
                background: rgba(0, 0, 0, 0.5);
                padding: 5px;
                white-space: normal;
            }
            p.desc {
                display: none;

            }
            a.ver-mas {
                padding: 5px 10px;
                border: none;
                font-weight: 700;
                text-decoration: none;
                @extend .bg-white;
                @extend .orange;
                display: inline-block;
                border-radius: 2px;
                font-size: 1.1rem;
                margin-left: 10px;

                &:hover {
                    box-shadow: -4px 4px 0 white;
                    @extend .white;
                    @extend .bg-orange;
                    text-indent: 20px;
                }
            }
        }
        .fuente {
            font-size: 10px;
            background: #333;
            padding: 2px;
            color: white;
            //position: absolute;
            //bottom: 10px;
            //right: 0;
            font-family: sans-serif;
        }
    }
}

.item {
    background-size: cover;
    background-position: center;
    &.rea {
        background-image: url(img/proyectos/img1-lg-1200x926.jpg);
    }
    &.liit {
        background-image: url(img/proyectos/liit-cuad.jpg);
    }
    &.ml {
        background-image: url(img/proyectos/img4-lg-1200x926.jpg);
    }
    &.lr {
        background-image: url(img/proyectos/img5-md.jpg);
    }
    &.oted {
        background-image: url(img/proyectos/img3-lg-1200x926.jpg);
    }
    &.fl {
        background-image: url(img/proyectos/fablab-cuad.jpg);
    }
}

.typeform-widget {

}



.iconos {
    width: 100vw;
    height: auto;
    background: url(img/iconos.jpg) repeat fixed;
    h1 {
        color: white;
        text-align: center;
        margin: 20px 0 0;
    }
}

.footer {
    font-size: 80%;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid silver;

    .licencia {
        margin-top: 40px;
        font-size: 80%;
        color: silver;
        a {
            border-width: 0;
            color: currentColor;

        }
    }
}

#wall {
    background: url(img/iconos.jpg) repeat fixed;
    a {
        border: none;
    }
}
