body,
button,
input,
select,
textarea {
  font-family: 'Karla', sans-serif;
  color: #333;
  font-size: 16.2px;
  font-size: 1.08rem;
  line-height: 1.5; }
  @media screen and (min-width: 700px) {
    body,
    button,
    input,
    select,
    textarea {
      font-size: 20.25px;
      font-size: 1.35rem; } }

h1, h2, h3, h4, h5, h6 {
  margin-top: .75em;
  margin-bottom: .25em;
  font-family: 'Karla', sans-serif;
  clear: both;
  text-rendering: optimizeLegibility;
  line-height: 1.1; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3em; }

  h2 {
    font-size: 2.6em; } }
h3 {
  font-size: 2.2em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.8em; }

h6 {
  font-size: 1.6em; }

p {
  margin-top: .5em;
  margin-bottom: 1em; }

a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid cyan;
  transition: all 0.2s; }

/*

  COLORS
  Better default colors for the web

*/
/* 

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/*

   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/
/* Backgrounds */
.bg-navy {
  background-color: #001F3F; }

.bg-blue, .projects .item {
  background-color: #0074D9; }

.bg-aqua {
  background-color: #7FDBFF; }

.bg-teal {
  background-color: #39CCCC; }

.bg-olive {
  background-color: #3D9970; }

.bg-green {
  background-color: #2ECC40; }

.bg-lime {
  background-color: #01FF70; }

.bg-yellow {
  background-color: #FFDC00; }

.bg-orange, .projects .item .info-proyecto a.ver-mas:hover {
  background-color: #FF851B; }

.bg-red {
  background-color: #FF4136; }

.bg-fuchsia {
  background-color: #F012BE; }

.bg-purple {
  background-color: #B10DC9; }

.bg-maroon {
  background-color: #85144B; }

.bg-white, .projects .item .info-proyecto a.ver-mas {
  background-color: #FFFFFF; }

.bg-gray {
  background-color: #AAAAAA; }

.bg-silver {
  background-color: #DDDDDD; }

.bg-black {
  background-color: #111111; }

/* Colors */
.navy {
  color: #001F3F; }

.blue {
  color: #0074D9; }

.aqua {
  color: #7FDBFF; }

.teal {
  color: #39CCCC; }

.olive {
  color: #3D9970; }

.green {
  color: #2ECC40; }

.lime {
  color: #01FF70; }

.yellow {
  color: #FFDC00; }

.orange, .projects .item .info-proyecto a.ver-mas {
  color: #FF851B; }

.red {
  color: #FF4136; }

.fuchsia {
  color: #F012BE; }

.purple {
  color: #B10DC9; }

.maroon {
  color: #85144B; }

.white, .projects .item .info-proyecto a.ver-mas:hover {
  color: #FFFFFF; }

.silver {
  color: #DDDDDD; }

.gray {
  color: #AAAAAA; }

.black {
  color: #111111; }

/* Border colors 

   Use with another border utility that sets border-width and style 
   i.e .border { border-width: 1px); border-style: solid); }     
*/
.border--navy {
  border-color: #001F3F; }

.border--blue {
  border-color: #0074D9; }

.border--aqua, a {
  border-color: #7FDBFF; }

.border--teal {
  border-color: #39CCCC; }

.border--olive {
  border-color: #3D9970; }

.border--green {
  border-color: #2ECC40; }

.border--lime {
  border-color: #01FF70; }

.border--yellow {
  border-color: #FFDC00; }

.border--orange, a:hover, a:active, .header .responsive-navigation ul li a.active {
  border-color: #FF851B; }

.border--red {
  border-color: #FF4136; }

.border--fuchsia {
  border-color: #F012BE; }

.border--purple {
  border-color: #B10DC9; }

.border--maroon {
  border-color: #85144B; }

.border--white {
  border-color: #FFFFFF; }

.border--gray {
  border-color: #AAAAAA; }

.border--silver {
  border-color: #DDDDDD; }

.border--black {
  border-color: #111111; }

/* Fills for SVG */
.fill-navy {
  fill: #001F3F; }

.fill-blue {
  fill: #0074D9; }

.fill-aqua {
  fill: #7FDBFF; }

.fill-teal {
  fill: #39CCCC; }

.fill-olive {
  fill: #3D9970; }

.fill-green {
  fill: #2ECC40; }

.fill-lime {
  fill: #01FF70; }

.fill-yellow {
  fill: #FFDC00; }

.fill-orange {
  fill: #FF851B; }

.fill-red {
  fill: #FF4136; }

.fill-fuchsia {
  fill: #F012BE; }

.fill-purple {
  fill: #B10DC9; }

.fill-maroon {
  fill: #85144B; }

.fill-white {
  fill: #FFFFFF; }

.fill-gray {
  fill: #AAAAAA; }

.fill-silver {
  fill: #DDDDDD; }

.fill-black {
  fill: #111111; }

/* Strokes for SVG */
.stroke-navy {
  stroke: #001F3F; }

.stroke-blue {
  stroke: #0074D9; }

.stroke-aqua {
  stroke: #7FDBFF; }

.stroke-teal {
  stroke: #39CCCC; }

.stroke-olive {
  stroke: #3D9970; }

.stroke-green {
  stroke: #2ECC40; }

.stroke-lime {
  stroke: #01FF70; }

.stroke-yellow {
  stroke: #FFDC00; }

.stroke-orange {
  stroke: #FF851B; }

.stroke-red {
  stroke: #FF4136; }

.stroke-fuchsia {
  stroke: #F012BE; }

.stroke-purple {
  stroke: #B10DC9; }

.stroke-maroon {
  stroke: #85144B; }

.stroke-white {
  stroke: #FFFFFF; }

.stroke-gray {
  stroke: #AAAAAA; }

.stroke-silver {
  stroke: #DDDDDD; }

.stroke-black {
  stroke: #111111; }

body {
  margin: 0; }

.wrapper {
  width: 100vw;
  margin: 0 auto; }

.header {
  background-color: white;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  grid-gap: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 99; }
  @media screen and (max-width: 700px) {
    .header.fixed {
      position: fixed;
      width: auto; } }
  @media screen and (min-width: 700px) {
    .header {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      justify-content: space-evenly;
      grid-gap: 20px; } }
  .header .branding {
    grid-column: 1 / span 2;
    align-content: center; }
    @media screen and (min-width: 700px) {
      .header .branding {
        grid-column: 1 / span 1; } }
    .header .branding a.site-title {
      display: block;
      width: 80%;
      overflow: hidden;
      max-width: 200px;
      min-width: 160px;
      height: auto;
      border: none;
      padding: 10px 0 0; }
      .header .branding a.site-title img {
        object-fit: cover;
        width: 100%; }
    .header .branding p {
      font-size: 0.8em;
      margin: 0;
      padding-left: 10%;
      display: none; }
  .header .responsive-navigation {
    grid-column: 4 / span 1;
    font-size: 80%;
    position: relative;
    width: 100%;
    height: 100%; }
    @media screen and (min-width: 700px) {
      .header .responsive-navigation {
        grid-column: auto / span 2;
        height: auto;
        display: table-cell;
        vertical-align: middle; } }
    .header .responsive-navigation .boton-menu {
      color: #333;
      padding: 5px 10px;
      border: none;
      font-weight: 700;
      text-decoration: none;
      background-color: white;
      display: inline-block;
      border-radius: 5px;
      width: 100%;
      height: 100%; }
      .header .responsive-navigation .boton-menu.submenuToggled-on {
        background-color: silver;
        color: white;
        border-color: white; }
      @media screen and (min-width: 700px) {
        .header .responsive-navigation .boton-menu {
          display: none; } }
    .header .responsive-navigation ul {
      position: absolute;
      top: calc(100% + 10px);
      right: -20px;
      width: 100vw;
      background-color: white;
      z-index: 999;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      display: none;
      font-size: 1.25em; }
      .header .responsive-navigation ul li a {
        display: inline-block;
        margin-bottom: 1em;
        text-decoration: none;
        color: #333; }
      .header .responsive-navigation ul.submenuToggled-on {
        display: block; }
    @media screen and (min-width: 700px) {
      .header .responsive-navigation .submenu {
        width: 100%;
        text-align: right; }
      .header .responsive-navigation ul {
        position: relative;
        width: auto;
        display: inline-flex;
        justify-content: flex-end;
        font-size: 1em;
        padding: 0 40px; }
        .header .responsive-navigation ul li {
          margin: 0 20px;
          display: inline-flex; }
          .header .responsive-navigation ul li a {
            padding: 0;
            margin: 0;
            border-width: 3px; } }

.submenuToggled-on {
  display: block; }

.content {
  width: 100%; }
  .content .migajas {
    font-size: .7em; }
  .content .pagina {
    margin: 0 auto;
    max-width: 780px;
    padding: 40px 20px 80px; }
    .content .pagina *::-moz-selection {
      background: orange; }
    .content .pagina *::selection {
      background: orange; }
    .content .pagina hr {
      margin: 60px 0; }
    .content .pagina .top {
      width: auto;
      max-height: 320px;
      overflow: hidden;
      position: relative;
      margin: 0; }
      @media screen and (min-width: 960px) {
        .content .pagina .top {
          margin-left: -80px;
          margin-right: -80px; } }
      .content .pagina .top img {
        object-fit: cover;
        width: 100%; }
    .content .pagina .caption {
      font-size: 60%;
      color: siver; }
    .content .pagina h3.gente {
      text-align: center; }
      .content .pagina h3.gente:before {
        content: "";
        width: 80px;
        height: 80px;
        background: url(img/gente.svg) no-repeat center center;
        display: block;
        margin: 0 auto;
        background-size: contain; }
    .content .pagina .lista {
      margin: 40px 0; }
      @media screen and (min-width: 500px) {
        .content .pagina .lista {
          display: grid;
          grid-template-columns: repeat(8, minmax(0, 1fr));
          justify-content: space-evenly;
          align-items: flex-start;
          grid-gap: 20px; } }
      .content .pagina .lista .persona {
        grid-column: auto /span 4;
        margin-bottom: 20px;
        font-size: 90%; }
      .content .pagina .lista .pic {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        background: url(img/gente/default-user-image.png) center center no-repeat silver;
        background-size: cover; }
        .content .pagina .lista .pic img {
          width: 100%;
          object-fit: cover; }
      .content .pagina .lista .info-personal {
        grid-column: auto / span 7;
        line-height: 1.4; }
        .content .pagina .lista .info-personal h4 {
          margin-top: 0.25em;
          font-size: 1.25em; }
        .content .pagina .lista .info-personal p {
          margin-bottom: 0.25em; }

@media screen and (max-width: 700px) {
  .projects {
    scroll-snap-points-y: repeat(90vw);
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll; } }
@media screen and (min-width: 700px) {
  .projects {
    scroll-snap-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    overflow: auto;
    max-width: 100vw; } }
.projects .item {
  display: flex;
  align-items: flex-end; }
  @media screen and (max-width: 700px) {
    .projects .item {
      border-right: 4px solid white;
      border-left: 4px solid white;
      padding: 1rem;
      min-width: 89vw;
      height: 90vh;
      scroll-snap-align: center; } }
  @media screen and (min-width: 700px) {
    .projects .item {
      grid-column: auto / span 1;
      height: 40vh;
      min-height: 300px;
      padding: 20px; } }
  .projects .item .info-proyecto {
    z-index: 2;
    width: 90%;
    margin: 0; }
    .projects .item .info-proyecto h3 {
      font-size: 1.5rem;
      color: white;
      font-weight: 700;
      text-shadow: -3px 3px 0 #333;
      background: rgba(0, 0, 0, 0.5);
      padding: 5px;
      white-space: normal; }
    .projects .item .info-proyecto p.desc {
      display: none; }
    .projects .item .info-proyecto a.ver-mas {
      padding: 5px 10px;
      border: none;
      font-weight: 700;
      text-decoration: none;
      display: inline-block;
      border-radius: 2px;
      font-size: 1.1rem;
      margin-left: 10px; }
      .projects .item .info-proyecto a.ver-mas:hover {
        box-shadow: -4px 4px 0 white;
        text-indent: 20px; }
  .projects .item .fuente {
    font-size: 10px;
    background: #333;
    padding: 2px;
    color: white;
    font-family: sans-serif; }

.item {
  background-size: cover;
  background-position: center; }
  .item.rea {
    background-image: url(img/proyectos/img1-lg-1200x926.jpg); }
  .item.liit {
    background-image: url(img/proyectos/liit-cuad.jpg); }
  .item.ml {
    background-image: url(img/proyectos/img4-lg-1200x926.jpg); }
  .item.lr {
    background-image: url(img/proyectos/img5-md.jpg); }
  .item.oted {
    background-image: url(img/proyectos/img3-lg-1200x926.jpg); }
  .item.fl {
    background-image: url(img/proyectos/fablab-cuad.jpg); }

.iconos {
  width: 100vw;
  height: auto;
  background: url(img/iconos.jpg) repeat fixed; }
  .iconos h1 {
    color: white;
    text-align: center;
    margin: 20px 0 0; }

.footer {
  font-size: 80%;
  padding: 40px 20px;
  text-align: center;
  border-top: 1px solid silver; }
  .footer .licencia {
    margin-top: 40px;
    font-size: 80%;
    color: silver; }
    .footer .licencia a {
      border-width: 0;
      color: currentColor; }

#wall {
  background: url(img/iconos.jpg) repeat fixed; }
  #wall a {
    border: none; }

/*# sourceMappingURL=grid.css.map */
